.pagina-principal {
    background-image: url("../public/header-cambio.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}