// PAGINA PRINCIPAL

.textos- h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    color: #204a4a;
}

.section-principal{
    margin-top: 50px;

    .img-nosotros {
        max-width: 100%;
        border-radius: 10px;
    }

    .img-productos {
        max-width: 40%;
        height: auto;
        border-radius: 10px;
    }

    .textos-{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .textos-eventos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

    .p-importante{
        font-weight: bold;
    }

    .principal-cards{
        display: flex;
        justify-content:space-around;
    }

    .section-productos{
        display: flex;
        flex-direction: column;
        justify-content:start;

    }

    .section-productos-imagenes{
        display: flex;
        flex-direction: row;
        justify-content:space-around;

    }

}


// PAGINA EVENTOS

.section-paginas{
    .halloween {
        display: flex;
        padding: 40px;
        align-items: center;
    }
    
    .imagen-halloween {
        border-radius: 10px;
    }

    .imagen-patrimonio {
        border-radius: 10px;
    }

    .textos-{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}


