@media (max-width: 575.98px) {

    .logo-principal {
        width: 60px;
        margin-left: 10px;

    }

    .pagina-principal {
        background-image: url("../public/header-max1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: grid;
        

            .bienvenida {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-family: 'Krona One', sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    color: #204a4a;
                    margin-top: 0;
                    margin-left: 51px;
            
                }
            }

        

    }




    .section-principal {
        margin-top: 10px;

        .section-multimedia {
            margin-bottom: 40px;

            .img-productos {
                max-width: 50%;
                height: auto;
                border-radius: 10px;
                padding: 2px;
            }

            .card-text {
                display: none;
            }
        }


    }

     // PAGINAS
     .section-paginas {
        
        .imagen-halloween {
            width: 50%;
        }
    
        .imagen-patrimonio {
            width: 70%;
        }
    }
    
    footer {
        background-color: #e3ddd53d;
        max-width: 100%;
        display: grid;
        grid-template-areas:
            "logo-footer redes-footer"
            "productos-footer direccion-footer"
            "eventos-footer horario-footer"
            "menu-footer nosotros-footer";
        margin-top: 50px;

        .logo-footer {
            grid-area: logo-footer;

            .logo-principal {
                width: 60px;

            }
        }

        .redes-footer {
            grid-area: redes-footer;
        }

        .direccion-footer {
            grid-area: direccion-footer;
        }

        .horario-footer {
            grid-area: horario-footer;
        }

        .iconos-redes {
            width: 18px;
        }
    }




}

@media (min-width: 575.98px) {

    .logo-principal {
        width: 87px;
        margin-left: 33px;
    }
    
    .pagina-principal {
        background-image: url("../public/header-min.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
        display: grid;
        grid-template-areas: "nav-principal nav-principal"
            "bienvenida bienvenida";

        .imagen-header {
            display: none;
        }


        .nav-principal {
            grid-area: nav-principal;
        }

        .bienvenida {
            grid-area: bienvenida;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 473px;

            h1 {
                font-family: 'Krona One', sans-serif;
                font-weight: bold;
                font-size: 40px;
                color: #204a4a;
                margin-left: 80px;
                margin-top: 112px;
                padding: 30px;
        
            }

            .texto-bienvenida {
                padding: 10px;
            }

        }
    }

   


    // PAGINAS
    .section-paginas {

        .imagen-halloween {
            width: 50%;
        }
    
        .imagen-patrimonio {
            width: 70%;
        }
    }


    /* FOOTER */

    footer {
        background-color: #e3ddd53d;
        max-width: 100%;


        display: grid;
        grid-template-areas:
            "logo-footer nosotros-footer productos-footer direccion-footer"
            "redes-footer eventos-footer menu-footer horario-footer";
        margin-top: 50px;

        a {
            font-family: 'Krona One', sans-serif;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;
            color: #204a4a;
            margin-top: 15px;
        }

        div p {
            font-family: 'Rubik', sans-serif;
            text-decoration: none;
            color: black;
            margin-top: 15px;
        }

        h5 {
            font-family: 'Krona One', sans-serif;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            color: #204a4a;
            margin-top: 15px;
        }

        .logo-footer {
            grid-area: logo-footer;
        }

        .nosotros-footer {
            grid-area: nosotros-footer;
        }

        .productos-footer {
            grid-area: productos-footer;
        }

        .redes-footer {
            grid-area: redes-footer;
        }

        .eventos-footer {
            grid-area: eventos-footer;
        }

        .menu-footer {
            grid-area: menu-footer;
        }

        .direccion-footer {
            grid-area: direccion-footer;
            margin-top: -11px;
        }

        .horario-footer {
            grid-area: horario-footer;
            margin-top: -13px;
        }

        footer div {
            padding: 20px;
        }

        .iconos-redes {
            width: 26px;
        }

    }
}